?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941933563886-l3pjrfheoa6pqhr15kcul1u55q38tm1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941933563886-l3pjrfheoa6pqhr15kcul1u55q38tm1v</string>
	<key>API_KEY</key>
	<string>AIzaSyB51EgLnnsMlJNvFbD8IypC-4coqjK4ph4</string>
	<key>GCM_SENDER_ID</key>
	<string>941933563886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raspisanie</string>
	<key>PROJECT_ID</key>
	<string>raspisanie-uc-ogu-b23c4</string>
	<key>STORAGE_BUCKET</key>
	<string>raspisanie-uc-ogu-b23c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941933563886:ios:bba07bf9ceb867fb2dc8ff</string>
</dict>
</plist>